<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>HTML CV</title>
    <link rel="stylesheet" type="text/css" href="cv.css">
</head>

<body style="height: 29.7cm; width: 21cm;">
    <div class="main-grid">
        <div class="p-infodiv">
            <div class="p-info">
                <p>
                    Personal Information
                </p>
            </div>
            <div class="p-pic">
                <img src="resources/avatar.png" alt="avatar pic" style="width: 100px; height: 150px" />
            </div>
        </div>
        <div class="p-experience">
            <div class="timeline-graph rb-container">
                <ul class="rb">
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            Juli 2004
                        </div>
                        <div class="item-title"></div>
                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            Juni 2016
                        </div>
                        <div class="item-title">Mia Redwood commented on your last post.</div>
                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            Oktober 2017
                        </div>
                        <div class="item-title">Lucas McAlister just send you a message.</div>
                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            September 2019
                        </div>
                        <div class="item-title">Lucas McAlister just send you a message.</div>
                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            vorraussichtlich 2022
                        </div>
                        <div class="item-title">Lucas McAlister just send you a message.</div>
                    </li>
                </ul>
            </div>
            
            <div class="p-interest">
                <p>Personal Interests</p>
            </div>
        </div>
    </div>
</body>

</html>